
.image {
  height: 500px;
    /* z-index: 1; */
}
.banner{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* .apiImages{
    width: 12vw;
    max-width: 12vw;
    height: 35vh;
    max-height: 35vh;
} */

@media (min-width: 480px) and (max-width: 600px) {
  .image{
    height: 300px;
  }
  .banner{
    height: 40%;
  }

}